.submit-row {
  display: flex;
  align-items: center;
}

.submit-row-item {
  margin-right: 30px;
}

.space-around {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-around .submit-row-item {
  margin: 0 8px;
}
