.list {
  margin-bottom: 40px;
}

.list-row {
  display: grid;
  align-items: center;

  margin-bottom: -1px;
  grid-gap: 16px;
  grid-template-columns: 1fr 16px;
}

.context-menu-wrap {
  position: relative;
}

.context-menu {
  position: absolute;
  z-index: 2;
  right: -10px;

  width: 180px;
}

.context-menu-inner {
  box-sizing: border-box;

  border: 1px solid #828282;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.context-menu-item {
  display: block;

  width: 100%;
  padding: 16px !important;

  cursor: pointer;
  transition: background-color var(--defaultTransitionTime) var(--defaultTransitionType);
  text-align: left;
  text-decoration: none;

  color: var(--black);

  font-family: var(--Inter);
  font-size: 1rem;
}

.context-menu-item:hover {
  background-color: rgba(248, 212, 85, 0.3);
}

.autocomplete-wrap {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  z-index: 2;
  top: calc(100% - 1px);
  right: 0;
  left: 0;

  border: 1px solid var(--black);
  background: var(--white);
}

.autocomplete-list-item {
  width: 100%;
  margin-bottom: -1px;
  padding: 12px 16px !important;

  cursor: pointer;
  transition: background-color var(--defaultTransitionTime) var(--defaultTransitionType);
  text-align: left;
}

.autocomplete-list-item:hover {
  background-color: rgba(248, 212, 85, 0.3);
}

.side-btn {
  width: 16px;
  height: auto;
}
