
.choice-wrap {
  position: relative;
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

.choice-faker {
  position: relative;

  width: 24px;
  height: 24px;

  border-radius: 4px;
  background: #f8d455;
}

.choice-faker-img {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: opacity 0.15s ease-out;
}

.input:checked + .choice-faker .choice-faker-img {
  opacity: 1;
}
