.button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.62rem;
  font-weight: 700;
  font-family: var(--Roboto);
  padding: 15px 10px 13px 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
  background: transparent;
  justify-content: center;
  transition: opacity var(--defaultTransitionType) var(--defaultTransitionTime),
  color var(--defaultTransitionType) var(--defaultTransitionTime),
  border-color var(--defaultTransitionType) var(--defaultTransitionTime),
  background-color var(--defaultTransitionType) var(--defaultTransitionTime);
}

.button-primary {
  color: var(--black);
  background-color: var(--yellow);
  min-width: 80px;
  border-color: var(--yellow);
}

.button-dark {
  color: var(--white);
  background: var(--grey100);
  border-color: var(--grey100);
}

.button-bordered {
  background: transparent;
  border: 2px solid var(--grey100);
  color: var(--black);
}

.button-text {
  padding: 0;
  color: var(--grey80);
  border: none;
}

.button-add {
  background: var(--white);
  border: 1px solid #828282;
  color: var(--black);
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 16px;
  border-radius: 0;
  justify-content: flex-start;
}

.button-fw {
  width: 100%;
}

.icon {
  width: 12px;
  height: 12px;
  margin-right: 7px;
  color: var(--black);
}

.icon svg {
  max-width: 100%;
  max-height: 100%;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.button-bordered:disabled {
  opacity: 1;
  color: rgba(0,0,0,0.3);
  border-color: rgba(0,0,0,0.3);
}

.button-primary:disabled {
  opacity: 1;
  color: rgba(0,0,0,0.3);
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}
