.wrap {
  border-bottom: 1px solid #d8d8d8;
}

.content {
  display: flex;
  align-items: center;

  padding: 22px 18px;
}

.settings-wrap {
  margin-right: 18px;
}

.user {
  margin-right: 24px;

  text-decoration: none;

  color: #000;
}

.user a {
  text-decoration: inherit;

  color: inherit;
}

.add-item {
  margin-right: 10px;
}

.header-actions {
  display: grid;

  align-items: center;

  margin-left: auto;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
}

.header-actions-item {
  margin-right: 30px;
}

.header-publish {
  display: grid;

  margin-left: 15px;
  grid-template-columns: auto auto;
  grid-gap: 8px;
}

.setting-link {
  color: var(--black);
}
