.wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100vh;
}

.form {
  max-width: 790px;
  margin: 0 auto;
  padding: 40px 48px;

  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background: #fff;
}

.input-wrap {
  margin-bottom: 40px;
}

.input-row {
  margin-bottom: -1px;
}
