.ctn {
  display: block;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;

  min-height: 190px;
  padding: 20px;

  transition:
    border-color var(--defaultTransitionTime) var(--defaultTransitionType),
    background-color var(--defaultTransitionTime) var(--defaultTransitionType);
  text-align: center;

  color: var(--inputPlaceholder);
  border: 1px dashed #aaa;
  border-radius: 4px;
  outline: none;
  background: var(--white);

  font-family: var(--Inter);
  font-size: 1rem;
}

.dropzone:focus {
  border-color: var(--black);
  background: rgba(250, 223, 128, 0.3);
}

.preview-text {
  max-width: 350px;
  margin: 0 auto;
}

.drag-active {
  border-color: var(--black);
  background: rgba(250, 223, 128, 0.3);
}

.files-list {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 240px);

  margin-bottom: 24px;
}

.file-card {
  position: relative;

  padding: 7px 30px 7px 30px;

  color: #000;
  border: 1px solid #828282;
}

.file-delete {
  position: absolute;
  top: 50%;
  right: 5px;

  width: 24px;
  height: 24px;

  margin-top: -12px;
  padding: 0;

  border: none;
  background: transparent;
}
