.modal {
  position: relative;

  display: inline-block;

  width: 450px;
  height: auto;
  min-height: 0;
  margin: 20px auto;

  padding: 40px 50px;

  text-align: left;

  border-radius: 4px;
  background: var(--white);
}

.modal--wide {
  width: 630px;
  padding: 24px;
}

.modal--xl {
  width: 690px;
}

.modal--fill {
  overflow: auto;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 40px 60px;

  border-radius: 0;
}

.modal,
.modal-bg::after {
  vertical-align: middle;

  outline: none !important;
}

.modal-bg::after {
  display: inline-block;

  height: 100%;

  content: '';
}

.modal-bg {
  z-index: 100;

  overflow: auto;

  text-align: center;

  background-color: rgba(0,0,0,0.8) !important;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay--after-open {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
