.wrap {
  padding: 20px;

  text-align: center;
}

.form-wrap {
  width: 660px;
  margin: 0 auto;
  padding: 24px 120px 24px 24px;

  text-align: left;

  border: 1px solid #d3d3d3;
  border-radius: 4px;

  background: #fff;
}

.form-item-grid {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 170px;
}

.form-item {
  margin-bottom: -1px;
}

.form-item-select {
  margin-left: -1px;
}

.inputs-wrap {
  margin-bottom: 40px;
}

.aside {
  position: absolute;
  top: 0;
  right: -90px;
}

.aside-row {
  text-align: left;
}

.aside-row-btn {
  padding: 0;

  cursor: pointer;

  color: var(--grey60);

  font-size: 0.62rem;
  font-weight: 500;
}

.aside-row-btn--reset:hover {
  text-decoration: underline;

  color: #3073d8;
}

.aside-row-btn--delete:hover {
  text-decoration: underline;

  color: #dd4848;
}
