.wrap {
  position: relative;

  display: inline-flex;
}

.input {
  padding: 20px 16px;

  transition: border-color var(--defaultTransitionTime) var(--defaultTransitionType);

  border: 1px solid #828282;

  font-family: var(--Inter);
  font-size: 1rem;
  font-weight: 700;

  -webkit-appearance: none;
}

.with-right-addon {
  padding-right: 60px;
}

.fw,
.input-fw {
  width: 100%;
}

.right-addon {
  position: absolute;
  z-index: 2;
  top: 2px;
  right: 2px;
  bottom: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;

  background: var(--white);
}

.toggle-pass-icon {
  width: 22px;
  padding: 0;

  border: none;
  background: transparent;
}

.toggle-visibility-icon {
  width: 22px;

  color: var(--black);
}

.input:focus,
.input:active {
  border-color: var(--black);
  outline: none;
}

.textarea {
  height: 190px;

  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);

  font-weight: 500;
}
