.wrap {
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  max-width: 790px;
  padding: 40px 48px;
  margin: 0 auto;
}

.input-wrap {
  margin-bottom: 40px;
}

.input-row {
  margin-bottom: -1px;
}
