.heading {
  margin: 0;

  font-family: var(--Roboto);
  font-weight: 700;
}

.heading--h1 {
  margin-bottom: 40px;

  font-size: var(--h1FontSize);
}

.heading--h2 {
  margin-bottom: 24px;

  font-size: var(--h2FontSize);
}
