.wrap {
  display: block;

  width: 100%;
  min-height: 270px;
  padding: 30px !important;

  cursor: pointer;
  transition: background-color var(--defaultTransitionType) var(--defaultTransitionTime);
  text-align: center;

  border: 1px solid #828282 !important;
  background-color: var(--white);
}

.text-wrap {
  margin-bottom: 45px;
}

.plus {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;
  margin: 0 auto;

  border: 1px solid #828282;
  background: var(--yellow);

  font-size: 20px;
}

.wrap:hover {
  background: rgba(250, 223, 128, 0.3);
}
